<template>
  <Gtk:Box :orientation="VERTICAL">
    <Gtk:EventControllerMotion
      v-notify:contains-pointer="containsPointer"
      @motion="onMotion"
    />

    <Gtk:Button @clicked="onClick">
      <Adw:ButtonContent
        class="blue"
        :use-underline="true"
        icon-name="document-open-symbolic"
        :label="text"
      />
    </Gtk:Button>

    <template v-if="containsPointer"> {{ coords.x }}, {{ coords.y }} </template>
  </Gtk:Box>
</template>

<script setup lang="ts">
import Gtk from "gi://Gtk?version=4.0";

const { VERTICAL } = Gtk.Orientation

let coords = $ref({ x: 0, y: 0 });
let containsPointer = $ref(false);
let text = $ref("hello");

const onMotion = (_: never, x: number, y: number) => (coords = { x, y });
const onClick = () => (text += "!!! ");
</script>

<style>
.blue {
  background-color: #2299ee;
  color: white;
}
</style>
